body
  font-size: 14px
  line-height: 1.6
  font-family: 'Rubik'
  color: #666
  -webkit-font-smoothing: antialiased
  background-color: $white

.warp-container
  margin: 0px 10px
  

.blank
  height: 0px
  display: block
  background-color: transparent


.topi
  background-color: $red
  height: 90px

.sticky
  background-color: $white
  position: fixed
  margin-top: 0px
  height: 90px
  opacity: 0.8

