body
  font-size: 14px
  font-family: 'Rubik'
  color: #666
  -webkit-font-smoothing: antialiased
  background-color: $white

.warp-container
  margin: 0px 10px

  

.blank
  height: 0px
  display: block
  background-color: transparent


.topi
  background-color: $red
  height: 90px

.sticky
  background-color: $black
  position: fixed
  margin-top: 0px
  height: 45px


@media screen and (max-width: 768px)
.warp-container
  margin: 0px 0px
