---
title: samburá
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Samburá producciones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
<div class="warp-container">
<!-- HEADER -->
<header>
  <div class="logo"></div>

  <button id="escribenos" href="">escribenos</button>

  <button onclick="myFunction()" class="dropbtn"></button>
  <div id="myDropdown" class="dropdown-content">
    <div class="thunder-container">
      <a class="thunder-item" href="">nosotros</a>
      <a class="thunder-item" href="">equipos</a>
      <a class="thunder-item" href="">portafolio</a>
    </div>
  </div>
  
  <nav>
    <a class="menu" href="">nosotros</a>
    <a class="menu" href="">equipos</a>
    <a class="menu" href="">portafolio</a>
  </nav>
  

</header>
<!-- END HEADER -->

<div class="blank"></div>

<div class="page-home">

  <!-- HOME HERO -->
  <div id="hero-container">
    <div class="slider">hola soy slider</div>
      <div class="serv-container">
        <div class="serv-action">
          <div class="link-container"><a class="serv" href="">Folis y música</a></div>
        </div>
        <div class="serv-action">
          <div class="link-container"><a class="serv" href="">Locución</a></div>
        </div>
        <div class="serv-action">
          <div class="link-container"><a class="serv" href="">Grabación y Master</a></div>
        </div>
      </div>
  </div>
  <!-- END HOME HERO -->

 <!--TAG LINE--> 
<div class="tag-line-container">
  <div class="tag-line">Sigue y escucha nuestro trabajo. Es nuestra pasión</div>
</div>
 <!--END TAG LINE--> 

 
 <!--SERVICIOS--> 
{% include services.html %}
 <!--SERVICIOS--> 

 <!--TAG LINE--> 
<div class="tag-line-container">
  <div class="tag-line">Sigue y escucha nuestro trabajo. Es nuestra pasión</div>
</div>
 <!--END TAG LINE--> 

 <!--PORTFOLIO--> 
{% include works.html %}
<!-- END PORTFOLIO-->

</div>


<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/functions.js"></script>




   



</div>
</body>
</html>
