---
title: samburá
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Samburá producciones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/sambura-test/assets/img/favicon.ico">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
<a name="home"></a>

<!-- HEADER -->
<header>
 <a class="logo" href="#home" rel=""><img src="/sambura-test/assets/img/logo-sambura-relieve.svg"></a>
 <div class="logo-type"><img src="assets/img/logo-sambura-type.svg"></div>

  <a class="escribenos" href="#contact" rel="">Escribenos</a>
  <a class="mail-icon" href="#contact" rel=""><img src="assets/img/mail-icon-01.svg"></a>


  <div class="dropbtn"><img class="menu-icon" src="assets/img/menu-icon-01.svg"></div>
  <div id="myDropdown" class="dropdown-content">
    <div class="thunder-container">
      <a class="thunder-item" href="">nosotros</a>
      <a class="thunder-item" href="">equipos</a>
      <a class="thunder-item" href="#work" rel="">portafolio</a>
    </div>
  </div>
  
  <nav>
    <a class="menu" href="">nosotros</a>
    <a class="menu" href="">equipos</a>
    <a class="menu" href="#work">portafolio</a>
  </nav>
  

</header>
<!-- END HEADER -->

<div class="warp-container">

<div class="blank"></div>

<div class="page-home">

  <!-- HOME HERO -->
  <div id="hero-container">
    <div class="slider">
      <div class="serv-container">
        <div class="serv-action">
            <div class="icon"><img class="icon-music" src="assets/img/piano-icon.svg"></div>
            <a class="serv-text" href="#service"> música<br>diseño sonoro </a>

        </div>
        <div class="serv-action">
            <div class="icon"><img class="icon-music" src="assets/img/mic-icon.svg"></div>
            <a class="serv-text" href="#service"> grabación </a>
        </div>
        <div class="serv-action">
            <div class="icon"><img class="icon-music" src="assets/img/master-icon.svg"></div>
            <a class="serv-text" href="#service"> edición y master </a>
        </div>
      </div>

    </div>

  </div>
  <!-- END HOME HERO -->

 <!--TAG LINE--> 
<div class="tag-line-container">
  <div class="tag-line">Sigue y escucha nuestro trabajo. <strong class="tag-strong">Es nuestra pasión</strong></div>
</div>
 <!--END TAG LINE--> 

 <!--SERVICIOS--> 
{% include services.html %}
 <!--SERVICIOS-->


<!--scroll portfolio--> 
 <a name="work" id="work"></a>
<!--TAG LINE--> 
<div class="tag-line-container">
  <div class="tag-line">Hacemos realidad tus ideas sonoras. <strong class="tag-strong">Te escuchamos.</strong></div>
</div>
 <!--END TAG LINE--> 

 <!--PORTFOLIO--> 
{% include works.html %}
<!-- END PORTFOLIO-->

 <!--CONTACT--> 
{% include contact.html %}
<!-- END CONTACT-->

 <!--FOOTER--> 
{% include footer.html %}
<!-- END FOOTER-->

</div>  <!-- END PAGE HOME-->



<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/functions.js"></script>



   



</div>
</body>
</html>
