body
  margin: 10px
  background-color: $silver
  overflow-x: hidden










.page-home
  text-align: center
  #services
    height: 1000px
  .hero-container
    width: 100%
    margin-top: 90px
    .slider
      width: 60%
      height: 400px
      background-color: $orange
      //opacity: 0.5
      float: left
    .serv-container


      height: 400px
      width: 40%
      float: left   
      .serv-action
        float: left
        margin-bottom: 10px
        margin-left: 10px
        width: 90%
        height: 100px
        background-color: $red
        .link-container
          margin-top: 34px
          .serv
            background-color: $white
            color: #555
            font-size: 18px
            font-weight: 600
            letter-spacing: .1rem
            text-transform: uppercase
            text-decoration: none




    @media screen and (max-width: 720px)
      .slider 
        background-color: $red
        width: 100%
        margin-bottom: 20px
      .serv-container
        width: 100%
    
    @media screen and (max-width: 320px)
      .slider 
        background-color: $white
        width: 100%
        margin-bottom: 20px
      .serv-container
        width: 100%

        

