
.page-home
  text-align: center


  #hero-container
    height: 400px
    background-color: transparent
  .slider
    width: 60%
    height: 400px
    background-image: url("/sambura-test/assets/img/recording-01.jpg")
    background-size: cover
    background-position: center center
    //opacity: 0.5
    float: left
    overflow: hidden
    
  .serv-container
    height: 400px
    width: 40%
    float: left
    overflow: hidden
    .serv-action
      float: left
      margin: 0 10px 10px 10px
      width: 100%
      height: 100px
      background-color: $red
      .link-container
        margin-top: 34px
        .serv
          background-color: $white
          color: #555
          font-size: 18px
          font-weight: 600
          letter-spacing: .1rem
          text-transform: uppercase
          text-decoration: none

  .tag-line-container
    width: 95%
    margin: auto
    .tag-line
      font-size: 28px
      padding: 30px



  @media screen and (max-width: 768px)
    .slider 
      background-color: $red
      width: 100%
      margin-bottom: 20px
    .serv-container
      width: 100%
      .serv-action
        float: initial
        margin-bottom: 0px
        margin-left: 0px
        margin: 10px auto
        .link-container
          margin-top: 0px
          padding: 30px
  
  @media screen and (max-width: 320px)
    .slider 
      background-color: $white
      width: 100%
      margin-bottom: 20px
    .serv-container
      width: 100%

        
