#services
    width: 95%
    margin: auto
    background-color: $white
    overflow: hidden
.lista
    display: inline-block
    width: 25%
    margin: 40px 20px
    background-color: transparent
.lista-item
    width: 140px
    padding: 0px
    margin: 20px auto
    list-style-type: none

.serv-icon
    width: 50px
    height: 50px
    margin: auto
    background-color: #666
    border-radius: 50%
    margin-bottom: 20px
.tit-serv
    letter-spacing: 1px
    border-bottom: 1px solid #666
    border-top: 2px solid #666
    padding: 4px

li
    line-height: 2.2
    font-size: 1.2

@media screen and (max-width: 720px)

    #services
        background-color: $orange
    .lista
        display: block
        margin: auto

    
    