#services
    width: 100%
    margin: 20px auto
    background-color: #222
    overflow: hidden
    text-align: center
    border-top: 1px dotted $white
    border-bottom: 1px dotted $white


.lista
    display: inline-block
    width: 25%
    margin: 40px 20px
    background-color: transparent
    vertical-align: top


.lista-item
    width: 160px
    padding: 0px
    margin: 20px auto
    list-style-type: none
    text-align: left
    color: $silver

    .serv-icon
        width: 18px
        height: 18px
        margin-bottom: 4px


.tit-serv
    letter-spacing: 1px
    font-weight: 500


.serv-head
    border-bottom: 1px solid #999
    line-height: 20px
    margin-bottom: 10px
    padding: 0 0 20px 0
    text-align: left

li
    line-height: 42px
    font-size: 1.2

.serv-button
    background-color: transparent
    color: $aqua
    font-size: 1.5
    font-weight: 300
    text-align: left
    border: 1px solid $aqua
    padding: 8px 8px
    &:hover,
    &:focus
        color: lighten($white, 20%)
        background-color: lighten($black, 20%)


.serv-button-container
    margin-top: 35px




@media screen and (max-width: 720px)

    .lista
        display: block
        margin: auto
        width: 90%
        margin: 80px auto
    .lista-item
        margin: auto


@media screen and (max-width: 380px)


    