
 <a name="contact">

<div class="contact-container">

    <div class="contact-tit">Puedes llamarnos o escribirnos.<br><strong class="contact-strong">Queremos escuchar sobre tu proyecto.</strong></div>
 

    <div class="datos">
        <img src="assets/img/phone-icon-01.svg" height="40px" width="40px">
        <div class="nombre">Alí Velazquez</div> 
        <div class="tlf">+58 0416 2121267 - caracas, Venezuela</div>
    </div>

    <form action=""
        method="POST">

        <div class="info-group">
            <label> <span>Tu nombre</span>
            <input type="text" name="nombre"></label>

            <label> <span>Tu email</span>
            <input type="email" name="_reenviar"></label>
        </div>

        <label> <span>Cuéntanos</span>
        <textarea type="text" name="mensaje"></textarea></label>

        <input class="enviar" type="submit" value="enviar">
    </form> 

</div>
