
<div class="footer-container">
<div class="info-footer">
    <div class="ubic-icon"><img src="../sambura-test/assets/img/ubic-icon-01.svg"></div>
    <strong>Samburá Producciones R.L</strong><br>
    Av. Lecuna. Centro Parque Central, Edificio Caroata, piso ofc02, Oficina 210.<br>
    Distrito Capital, Caracas, Venezuela.
    </div>
<div class="social-media-container">
    <img src="../sambura-test/assets/img/fb.svg">
    <img src="../sambura-test/assets/img/ig.svg">
    <img src="../sambura-test/assets/img/ut.svg">
    <img src="../sambura-test/assets/img/sc.svg">
</div>
</div>