<div id="services">
<div class="lista">
    <ul id="folis" class="lista-item">
        <div class="serv-icon"><img src="assets/img/layers-icon-01.svg"></div>
        <li class="serv-head"><strong class="tit-serv">Música<br>diseño sonoro</strong></li>
        <li>Composición</li>
        <li>Arreglos</li>
        <li>Efectos</li>
        <li>Ambientales</li>
        <li>Jingles</li>
        <div class="serv-button-container"><a href="#" class="serv-button">Saber más ></a></div>

    </ul>
</div>
<div class="lista">
    <ul id="locu" class="lista-item">
        <div class="serv-icon"><img src="assets/img/onda-icon-01-01.svg"></div>
        <li class="serv-head"><strong class="tit-serv">Grabación</strong></li>
        <li>En vivo</li>
        <li>De estudio</li>
        <li>Foleys</li>
        <li>Locución</li>
        <li>Directo</li>
        <li>Stream</li>
        <div class="serv-button-container"><a href="#" class="serv-button">Saber más ></a></div>

    </ul>
</div>
<div class="lista">
    <ul id="musica" class="lista-item">
        <div class="serv-icon"><img src="assets/img/consola-icon-01.svg"></div>
        <li class="serv-head"><strong class="tit-serv">edición y master</strong></li>
        <li>Preproducción</li>
        <li>Mezcla</li>
        <li>Masterización</li>
        <li>Edición</li>
        <li>Montaje</li>
        <li>Adaptación</li>
        <div class="serv-button-container"><a href="#" class="serv-button">Saber más ></a></li></div>

    </ul>
</div>
</div>