 <a name="service"></a>
<div id="services">
<div class="lista">
    <ul id="folis" class="lista-item">
        <div class="serv-icon"><img src="assets/img/layers-icon-01.svg"></div>
        <li class="serv-head"><strong class="tit-serv">Música<br>diseño sonoro</strong></li>
        <li class="border">Composición</li>
        <li class="border">Arreglos</li>
        <li class="border">Efectos</li>
        <li class="border">Ambientales</li>
        <li>Jingles</li>
        <div class="serv-button-container"><a href="#contact" class="serv-button">Saber más ></a></div>

    </ul>
</div>
<div class="lista">
    <ul id="locu" class="lista-item">
        <div class="serv-icon"><img src="assets/img/onda-icon-01-01.svg"></div>
        <li class="serv-head"><strong class="tit-serv">Grabación</strong></li>
        <li class="border">En vivo</li>
        <li class="border">De estudio</li>
        <li class="border">Foleys</li>
        <li class="border">Locución</li>
        <li class="border">Directo</li>
        <li>Stream</li>
        <div class="serv-button-container"><a href="#contact" class="serv-button">Saber más ></a></div>

    </ul>
</div>
<div class="lista">
    <ul id="musica" class="lista-item">
        <div class="serv-icon"><img src="assets/img/consola-icon-01.svg"></div>
        <li class="serv-head"><strong class="tit-serv">edición y master</strong></li>
        <li class="border">Preproducción</li>
        <li class="border">Mezcla</li>
        <li class="border">Masterización</li>
        <li class="border">Edición</li>
        <li class="border">Montaje</li>
        <li>Adaptación</li>
        <div class="serv-button-container"><a href="#contact" class="serv-button">Saber más ></a></li></div>

    </ul>
</div>
</div>