
<section class="work-section">

  {% for work in site.works %}
  <div class="work-container">
    <div class="work-title">{{ work.title }} </div>

    <div id="audio-player">
      <div class="song-info">
      <span class="artist font-player">Artista </span><span class="title font-player">canción </span><span class="duracion font-player">12:14</span>
      </div>
      <div class="tracker">
        <div class="progress-bar">
          <span id="progress"></span>
        </div>
      </div>          
      <div id="audio-buttons">
        <button class="play"></button>
        <button class="pause"></button>
      </div>
    </div>

    <div id="audio-player">
      <div class="song-info">
      <span class="artist font-player">Artista </span><span class="title font-player">canción </span><span class="duracion font-player">12:14</span>
      </div>
      <div class="tracker">
        <div class="progress-bar">
          <span id="progress"></span>
        </div>
      </div>          
      <div id="audio-buttons">
        <button class="play"></button>
        <button class="pause"></button>
      </div>
    </div>
    
    <div class="work-content">
    <div class="work-review">  
      {{ work.content }}
    </div>
    </div>
    <div class="tags">
      Música original / master
    </div>
  </div>
  {% endfor %}
</section>